.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid var(--grey-light);
  border-radius: 8px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.togglePassword {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--grey-light);
  font-size: 20px;
}
